pkgbase = qcom-camx-kodiak
	pkgdesc = Qualcomm CamX camera HAL prebuilt for Kodiak (QCM6490)
	pkgver = 1.0.12
	pkgrel = 4
	url = https://softwarecenter.qualcomm.com
	arch = aarch64
	license = LicenseRef-Qualcomm-Proprietary
	makedepends = patchelf
	depends = qcom-camxlib-kodiak
	depends = qcom-camxfirmware-kodiak
	depends = qcom-sensors-prebuilts
	noextract = protobuf-33.5-33.5-1-aarch64.pkg.tar.xz
	noextract = abseil-cpp-20260107-20260107.1-1-aarch64.pkg.tar.xz
	options = !strip
	backup = var/cache/camera/camxoverridesettings.txt
	source = https://qartifactory-edge.qualcomm.com/artifactory/qsc_releases/software/chip/component/camx.qclinux.0.0/260224.1/prebuilt_yocto/camx-kodiak_1.0.12_armv8-2a.tar.gz
	source = camxoverridesettings.txt
	source = https://mirror.classfun.cn/arch/aarch64/protobuf-33.5-33.5-1-aarch64.pkg.tar.xz
	source = https://mirror.classfun.cn/arch/aarch64/abseil-cpp-20260107-20260107.1-1-aarch64.pkg.tar.xz
	sha256sums = 734fcff71ca3d863aa7ce3de5a889a92ec96a56d42025abb36dd4c85e99080cf
	sha256sums = SKIP
	sha256sums = 47ae252e20b2764153158e3c50c3262de51dbfca0f6da2f56ae94c0a6f8b83f5
	sha256sums = b5dc00eb5cffdfc657528835931328335980f9c127ade438195416cee1cbe43b

pkgname = qcom-camx-kodiak
